
# PlanAhead Generated IO and physical constraints
NET "DSPA_CORESEL[0]" LOC = P18 |IOSTANDARD = LVCMOS18;
NET "DSPA_CORESEL[1]" LOC = N15 |IOSTANDARD = LVCMOS18;
NET "DSPA_CORESEL[2]" LOC = M20 |IOSTANDARD = LVCMOS18;
NET "DSPA_CORESEL[3]" LOC = M18 |IOSTANDARD = LVCMOS18;

NET "DSPB_CORESEL[3]" LOC = J19 |IOSTANDARD = LVCMOS18;
NET "DSPB_CORESEL[2]" LOC = K18 |IOSTANDARD = LVCMOS18;
NET "DSPB_CORESEL[1]" LOC = K16 |IOSTANDARD = LVCMOS18;
NET "DSPB_CORESEL[0]" LOC = G20 |IOSTANDARD = LVCMOS18;

NET "DSPA_GPIO[15]" LOC = J3 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[14]" LOC = K3 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[13]" LOC = J2 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[12]" LOC = F1 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[11]" LOC = G1 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[10]" LOC = H3 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[9]" LOC = J4 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[8]" LOC = K4 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[7]" LOC = J1 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[6]" LOC = M2 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[5]" LOC = M1 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[4]" LOC = L5 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[3]" LOC = L1 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[2]" LOC = K2 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[1]" LOC = L3 |IOSTANDARD = LVCMOS18;
NET "DSPA_GPIO[0]" LOC = M3 |IOSTANDARD = LVCMOS18;

NET "DSPB_GPIO[15]" LOC = R1 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[14]" LOC = N3 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[13]" LOC = T1 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[12]" LOC = N1 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[11]" LOC = P1 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[10]" LOC = W1 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[9]" LOC = R2 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[8]" LOC = W2 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[7]" LOC = T2 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[6]" LOC = N2 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[5]" LOC = R3 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[4]" LOC = P3 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[3]" LOC = T3 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[2]" LOC = V2 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[1]" LOC = N4 |IOSTANDARD = LVCMOS18;
NET "DSPB_GPIO[0]" LOC = P4 |IOSTANDARD = LVCMOS18;

NET "FRONT_LED[1]" LOC = V16 |IOSTANDARD = LVCMOS33;
NET "FRONT_LED[0]" LOC = U16 |IOSTANDARD = LVCMOS33;

NET "SW_FSEL[0]" LOC = W8 |IOSTANDARD = LVCMOS33;
NET "SW_FSEL[1]" LOC = V5 |IOSTANDARD = LVCMOS33;

NET "SW_QFG[7]" LOC = V7 |IOSTANDARD = LVCMOS33;
NET "SW_QFG[6]" LOC = U6 |IOSTANDARD = LVCMOS33;
NET "SW_QFG[5]" LOC = R7 |IOSTANDARD = LVCMOS33;
NET "SW_QFG[4]" LOC = T7 |IOSTANDARD = LVCMOS33;
NET "SW_QFG[3]" LOC = U9 |IOSTANDARD = LVCMOS33;
NET "SW_QFG[2]" LOC = Y7 |IOSTANDARD = LVCMOS33;
NET "SW_QFG[1]" LOC = T9 |IOSTANDARD = LVCMOS33;
NET "SW_QFG[0]" LOC = Y5 |IOSTANDARD = LVCMOS33;

NET "SW_SPD[0]" LOC = Y3 |IOSTANDARD = LVCMOS33;
NET "SW_SPD[1]" LOC = W4 |IOSTANDARD = LVCMOS33;
NET "SW_SPD[2]" LOC = Y4 |IOSTANDARD = LVCMOS33;

NET "DSPA_DEBUG_LED[3]" LOC = A6 |IOSTANDARD = LVCMOS33;
NET "DSPA_DEBUG_LED[2]" LOC = A3 |IOSTANDARD = LVCMOS33;
NET "DSPA_DEBUG_LED[1]" LOC = B3 |IOSTANDARD = LVCMOS33;
NET "DSPA_DEBUG_LED[0]" LOC = A4 |IOSTANDARD = LVCMOS33;

NET "DSPB_DEBUG_LED[3]" LOC = C4  |IOSTANDARD = LVCMOS33;
NET "DSPB_DEBUG_LED[2]" LOC = A5  |IOSTANDARD = LVCMOS33;
NET "DSPB_DEBUG_LED[1]" LOC = B5  |IOSTANDARD = LVCMOS33;
NET "DSPB_DEBUG_LED[0]" LOC = Y17 |IOSTANDARD = LVCMOS33;

NET "SP3AN_DEBUG_LED[7]" LOC = C5  |IOSTANDARD = LVCMOS33;
NET "SP3AN_DEBUG_LED[6]" LOC = C6  |IOSTANDARD = LVCMOS33;
NET "SP3AN_DEBUG_LED[5]" LOC = B7  |IOSTANDARD = LVCMOS33;
NET "SP3AN_DEBUG_LED[4]" LOC = D6  |IOSTANDARD = LVCMOS33;
NET "SP3AN_DEBUG_LED[3]" LOC = Y18 |IOSTANDARD = LVCMOS33;
NET "SP3AN_DEBUG_LED[2]" LOC = E7  |IOSTANDARD = LVCMOS33;
NET "SP3AN_DEBUG_LED[1]" LOC = F6  |IOSTANDARD = LVCMOS33;
NET "SP3AN_DEBUG_LED[0]" LOC = F7  |IOSTANDARD = LVCMOS33;

NET "AD9516_1_CLOCK_RESET" LOC = U13 |IOSTANDARD = LVCMOS33;
NET "AD9516_1_CS"          LOC = R13 |IOSTANDARD = LVCMOS33;
NET "AD9516_1_LD"          LOC = N12 |IOSTANDARD = LVCMOS33;
NET "AD9516_1_PD"          LOC = V15 |IOSTANDARD = LVCMOS33;
NET "AD9516_1_REFSEL"      LOC = V13 |IOSTANDARD = LVCMOS33;
NET "AD9516_1_SCLK"        LOC = T15 |IOSTANDARD = LVCMOS33;
NET "AD9516_1_SDI"         LOC = U15 |IOSTANDARD = LVCMOS33;

NET "AD9516_2_CLOCK_RESET" LOC = Y13 |IOSTANDARD = LVCMOS33;
NET "AD9516_2_CS"          LOC = Y15 |IOSTANDARD = LVCMOS33;
NET "AD9516_2_LD" 		   LOC = P11 |IOSTANDARD = LVCMOS33;
NET "AD9516_2_PD" 		   LOC = W13 |IOSTANDARD = LVCMOS33;
NET "AD9516_2_REFSEL" 	   LOC = V14 |IOSTANDARD = LVCMOS33;
NET "AD9516_2_SCLK" 	   LOC = W14 |IOSTANDARD = LVCMOS33;
NET "AD9516_2_SDI" 		   LOC = T13 |IOSTANDARD = LVCMOS33;

NET "CVDD_A_EN" LOC = C17 |IOSTANDARD = LVCMOS33;
NET "CVDD_A_PG" LOC = C11 |IOSTANDARD = LVCMOS33;
NET "CVDD_B_EN" LOC = A15 |IOSTANDARD = LVCMOS33;
NET "CVDD_B_PG" LOC = F9  |IOSTANDARD = LVCMOS33;

NET "DSPA_BOOTCOMPLETE" LOC = N18 |IOSTANDARD = LVCMOS18;
NET "DSPA_EEPROM_WP" 	LOC = P16 |IOSTANDARD = LVCMOS18;
NET "DSPA_HOUT" 	 	LOC = M19 |IOSTANDARD = LVCMOS18;
NET "DSPA_LRESETZ" 	 	LOC = L16 |IOSTANDARD = LVCMOS18;
NET "DSPA_LRESETNMIENZ" LOC = N17 |IOSTANDARD = LVCMOS18;
NET "DSPA_NAND_WP" 		LOC = C2  |IOSTANDARD = LVCMOS18;
NET "DSPA_NMIZ" 		LOC = M17 |IOSTANDARD = LVCMOS18;
NET "DSPA_NOR_WP" 		LOC = P17 |IOSTANDARD = LVCMOS18;
NET "DSPA_PACLKSEL" 	LOC = N19 |IOSTANDARD = LVCMOS18;
NET "DSPA_PCA9306_EN" 	LOC = E8  |IOSTANDARD = LVCMOS33;
NET "DSPA_PHY_INIT" 	LOC = P12 |IOSTANDARD = LVCMOS33;
NET "DSPA_PHY_RST" 		LOC = V9  |IOSTANDARD = LVCMOS33;
NET "DSPA_PORZ" 		LOC = R20 |IOSTANDARD = LVCMOS18;
NET "DSPA_RESETFULLZ" 	LOC = R19 |IOSTANDARD = LVCMOS18;
NET "DSPA_RESETSTAT_N"  LOC = L15 |IOSTANDARD = LVCMOS18;
NET "DSPA_RESETZ"	 	LOC = P20 |IOSTANDARD = LVCMOS18;
NET "DSPA_SSPCK" 		LOC = R16 |IOSTANDARD = LVCMOS18;
NET "DSPA_SSPCS1" 		LOC = T20 |IOSTANDARD = LVCMOS18;
NET "DSPA_SSPMISO" 		LOC = R17 |IOSTANDARD = LVCMOS18;
NET "DSPA_SSPMOSI" 		LOC = T17 |IOSTANDARD = LVCMOS18;
NET "DSPA_SYSCLKOUT" 	LOC = H7  |IOSTANDARD = LVCMOS18;
NET "DSPA_TIMI0" 		LOC = M4  |IOSTANDARD = LVCMOS18;
NET "DSPA_TRGRSTZ" 		LOC = D3  |IOSTANDARD = LVCMOS18;
NET "DSPA_TSIP0_CLKA0" 	LOC = F3  |IOSTANDARD = LVCMOS18;
NET "DSPA_TSIP0_FSA0" 	LOC = H6  |IOSTANDARD = LVCMOS18;
NET "DSPA_UCD9222_RST" 	LOC = F12 |IOSTANDARD = LVCMOS33;
NET "DSPA_VID_OE" 		LOC = V20 |IOSTANDARD = LVCMOS18;
NET "DSPA_WARM_RST" 	LOC = V11 |IOSTANDARD = LVCMOS33;

NET "DSPB_BOOTCOMPLETE" LOC = H20 |IOSTANDARD = LVCMOS18;
NET "DSPB_EEPROM_WP" 	LOC = U19 |IOSTANDARD = LVCMOS18;
NET "DSPB_HOUT" 		LOC = K20 |IOSTANDARD = LVCMOS18;
NET "DSPB_LRESETNMIENZ" LOC = L17 |IOSTANDARD = LVCMOS18;
NET "DSPB_LRESETZ" 		LOC = H18 |IOSTANDARD = LVCMOS18;
NET "DSPB_NAND_WP" 		LOC = H2  |IOSTANDARD = LVCMOS18;
NET "DSPB_NMIZ" 		LOC = J20 |IOSTANDARD = LVCMOS18;
NET "DSPB_NOR_WP" 		LOC = T18 |IOSTANDARD = LVCMOS18;
NET "DSPB_PACLKSEL" 	LOC = J18 |IOSTANDARD = LVCMOS18;
NET "DSPB_PCA9306_EN" 	LOC = A7  |IOSTANDARD = LVCMOS33;
NET "DSPB_PHY_INIT" 	LOC = P13 |IOSTANDARD = LVCMOS33;
NET "DSPB_PHY_RST" 		LOC = V8  |IOSTANDARD = LVCMOS33;
NET "DSPB_PORZ" 		LOC = L19 |IOSTANDARD = LVCMOS18;
NET "DSPB_RESETFULLZ" 	LOC = H19 |IOSTANDARD = LVCMOS18;
NET "DSPB_RESETSTAT_N" 	LOC = J17 |IOSTANDARD = LVCMOS18;
NET "DSPB_RESETZ" 		LOC = L18 |IOSTANDARD = LVCMOS18;
NET "DSPB_SSPCK" 		LOC = R18 |IOSTANDARD = LVCMOS18;
NET "DSPB_SSPCS1" 		LOC = U18 |IOSTANDARD = LVCMOS18;
NET "DSPB_SSPMISO" 		LOC = V19 |IOSTANDARD = LVCMOS18;
NET "DSPB_SSPMOSI" 		LOC = U20 |IOSTANDARD = LVCMOS18;
NET "DSPB_SYSCLKOUT" 	LOC = G6  |IOSTANDARD = LVCMOS18;
NET "DSPB_TIMI0" 		LOC = M5  |IOSTANDARD = LVCMOS18;
NET "DSPB_TRGRSTZ" 		LOC = D4  |IOSTANDARD = LVCMOS18;
NET "DSPB_TSIP0_CLKA0" 	LOC = J6  |IOSTANDARD = LVCMOS18;
NET "DSPB_TSIP0_FSA0" 	LOC = G3  |IOSTANDARD = LVCMOS18;
NET "DSPB_UCD9222_RST"  LOC = F13 |IOSTANDARD = LVCMOS33;
NET "DSPB_VID_OE" 		LOC = W20 |IOSTANDARD = LVCMOS18;
NET "DSPB_WARM_RST" 	LOC = V10 |IOSTANDARD = LVCMOS33;

NET "FMC1_PG_C2M" 		LOC = A18 |IOSTANDARD = LVCMOS33;
NET "FMC2_PG_C2M" 		LOC = B18 |IOSTANDARD = LVCMOS33;
NET "FULL_RST" 			LOC = Y11 |IOSTANDARD = LVCMOS33;

NET "MGTAVCC_1V0_PG" 	LOC = F11 |IOSTANDARD = LVCMOS33;
NET "MGTAVTT_1V2_PG" 	LOC = F14 |IOSTANDARD = LVCMOS33;
NET "SP3AN_GCLK" 		LOC = D11 |IOSTANDARD = LVCMOS33;
NET "SRIO_RST_N" 		LOC = T8  |IOSTANDARD = LVCMOS33;
NET "UCD9222_A_PG" 		LOC = G13 |IOSTANDARD = LVCMOS33;
NET "UCD9222_B_PG" 		LOC = G12 |IOSTANDARD = LVCMOS33;
NET "V7_RST" 			LOC = Y16 |IOSTANDARD = LVCMOS33;
NET "V7_RESET" 			LOC = F20 |IOSTANDARD = LVCMOS18;

NET "VCC0V75_DSP_EN" 	LOC = B17 |IOSTANDARD = LVCMOS33;
NET "VCC0V75_DSP_PG" 	LOC = A17 |IOSTANDARD = LVCMOS33;
NET "VCC1V5_DSP_EN" 	LOC = D16 |IOSTANDARD = LVCMOS33;
NET "VCC1V5_DSP_PG" 	LOC = E15 |IOSTANDARD = LVCMOS33;
NET "VCC1V8_DSP_EN" 	LOC = C16 |IOSTANDARD = LVCMOS33;
NET "VCC1V8_DSP_PG" 	LOC = A16 |IOSTANDARD = LVCMOS33;
NET "VCC2V5_EN" 		LOC = A14 |IOSTANDARD = LVCMOS33;
NET "VCC_0V75_FPGA_PG" 	LOC = H10 |IOSTANDARD = LVCMOS33;
NET "VCC_1V0_DSPA_EN" 	LOC = C15 |IOSTANDARD = LVCMOS33;
NET "VCC_1V0_DSPA_PG" 	LOC = B12 |IOSTANDARD = LVCMOS33;
NET "VCC_1V0_DSPB_EN" 	LOC = B15 |IOSTANDARD = LVCMOS33;
NET "VCC_1V0_DSPB_PG" 	LOC = C7  |IOSTANDARD = LVCMOS33;
NET "VCC_1V0_PG" 		LOC = G10 |IOSTANDARD = LVCMOS33;
NET "VCC_1V2_PG" 		LOC = G9  |IOSTANDARD = LVCMOS33;
NET "VCC_1V5_FPGA_PG" 	LOC = H9  |IOSTANDARD = LVCMOS33;
NET "VCC_1V8_FPGA_PG" 	LOC = H11 |IOSTANDARD = LVCMOS33;
NET "VCC_2V5_PG" 		LOC = A12 |IOSTANDARD = LVCMOS33;
NET "VCC_3V3_FMC_PG" 	LOC = E14 |IOSTANDARD = LVCMOS33;
NET "VCC_3V3_PG" 		LOC = G8  |IOSTANDARD = LVCMOS33;
NET "VCC_VADJ_FMC_PG" 	LOC = G11 |IOSTANDARD = LVCMOS33;

NET "SP3AN_GCLK" TNM_NET = SP3AN_GCLK;
TIMESPEC TS_SP3AN_GCLK = PERIOD "SP3AN_GCLK" 10 ns HIGH 50%;
